<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cqupt.mapper.NurseRecordMapper">
    <resultMap id="BaseResultMap" type="com.cqupt.pojo.NurseRecord">
        <id column="id" property="id"  />
        <result column="is_deleted" property="isDeleted" />
        <result column="customer_id" property="customerId" />
        <result column="item_id" property="itemId" />
        <result column="nursing_time" property="nursingTime" />
        <result column="nursing_content" property="nursingContent" />
        <result column="nursing_count" property="nursingCount" />
        <result column="user_id" property="userId" />
    </resultMap>
    <sql id="Base_Column_List">
        id, customer_id, item_id, nursing_time, nursing_content, nursing_count, user_id
    </sql>
    <select id="selectNurseRecordsVo" resultType="NurseRecordsVo">
    SELECT
        nr.id,
        nr.is_deleted,
        nr.customer_id,
        nr.item_id,
        nr.nursing_time,
        nr.nursing_content,
        nr.nursing_count,
        nr.user_id,
        nc.serial_number,
        nc.nursing_name
    FROM
        nurserecord nr
    LEFT JOIN nursecontent nc ON nr.item_id=nc.id
    <where>
        nr.is_deleted=0
        <if test="customerId != null">
            and nr.customer_id=#{customerId}
        </if>
    </where>
    ORDER BY nr.id DESC
    </select>
</mapper>