<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.customer.mapper.CustomerPreferenceMapper">
    <resultMap id="BaseResultMap" type="com.cqupt.pojo.CustomerPreference">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="preferences" property="preferences" />
        <result column="attention" property="attention" />
        <result column="remark" property="remark" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>
    <sql id="Base_Column_List">
        id, customer_id, preferences, attention, remark, is_deleted
    </sql>
    <select id="selectCustomerPreferenceVo" resultType="CustomerPreferenceVo">
    SELECT
        c.id,
        c.customer_id,
        cus.customer_name,
        cus.customer_sex,
        cus.customer_age,
        c.preferences,
        c.attention,
        c.remark
    FROM
        customerpreference c
        LEFT JOIN Customer cus ON c.customer_id=cus.id
    <where>
        c.is_deleted=0
        <if test="customer_name != null and customer_name != ''">
            and customer_name = #{customer_name}
        </if>

    </where>
    ORDER BY c.id DESC
    </select>
</mapper>